        <p class="view"><a href="https://github.com/leahbannon/hackathontrainingday">View the Project on GitHub</a></p>
        <p class="view">Short link: <a href="http://bit.ly/hacktrain">bit.ly/hacktrain</a> <br/><small>Long link: <a href="http://hackathontrainingday.org">hackathontrainingday.org</a></small></p>

        <ul>

          <li><a href="/newsletter">Get the updates: <strong>Newsletter</strong></a></li>
          <li><a href="https://github.com/leahbannon/hackathontrainingday/issues">Create an issue <strong>GitHub</strong></a></li>
           <li><a href="https://twitter.com/leahbannon">Tweet at me!<strong>@</strong></a></li>
        </ul>
        <p><img src="https://github.com/leahbannon/hackathontrainingday/blob/gh-pages/images/techlady-22830.jpg?raw=true" id="campaign-icon"/></p>
              </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-47244317-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
