_<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Tech Lady Hackathon + Training Day by leahbannon</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/index">Tech Lady Hackathon + Training Day</a></h1>
        <p>A day for women from experienced coders to total newbies to gather for civic hacking and training in a supportive environment.</p>

        <p>Sign up for the <a href="/newsletter.html">Tech Lady Hackathon newsletter</a> for updates about awesome tech training, women in tech opportunities, and DC tech events.</p>
        <p>Questions? Ideas? Contact lead organizer <a href="http://twitter.com/leahbannon">@leahbannon</a>.
<p><a href="http://instagram.com/p/q7EXkowWDY/"><img src="/images/hackathon1.jpg"/ width="125"></a> <a href="http://instagram.com/p/q7fWxmQWKM/"><img src="/images/hackathon5.jpg"/ width="125"></a><br/>
<a href="https://twitter.com/AliyaRahman/status/498206144822013954/photo/1"><img src="/images/hackathon4.jpg" width="125"></a> <a href="http://instagram.com/p/q7ELl9wWC-/"><img src="/images/hackathon2.jpg"/ width="125"></a><br/>
<a href="http://instagram.com/p/q71VSXxkIe/"><img src="/images/hackathon3.jpg" width="125"/></a> <a href="http://instagram.com/p/q6780oSQZk/"><img src="/images/hackathon6.jpg" width="125"></a></p>
        </header>
        <section>
