_<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Tech Lady Hackathon + Training Day by leahbannon</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Tech Lady Hackathon + Training Day</h1>
        <p>A day for women from experienced coders to total newbies to gather for civic hacking and training in a supportive environment.</p>
        <p>Next Hackathon is <strong>July 26, 2014</strong>! Details coming soon. <a href="/newsletter">Get email updates.</a></p>

        <p class="view"><a href="https://github.com/leahbannon/hackathontrainingday">View the Project on GitHub</a></p>
        <p class="view">Short link: <a href="http://bit.ly/hacktrain">bit.ly/hacktrain</a> <br/><small>Long link: <a href="http://hackathontrainingday.org">hackathontrainingday.org</a></small></p>

        <ul>

          <li><a href="/newsletter">Get all the updates: <strong>Newsletter</strong></a></li>
          <li><a href="https://github.com/leahbannon/hackathontrainingday/issues">Create an issue <strong>GitHub</strong></a></li>
           <li><a href="https://twitter.com/leahbannon">Tweet at me!<strong>@</strong></a></li>
        </ul>
        <p><img src="https://github.com/leahbannon/hackathontrainingday/blob/gh-pages/images/techlady-22830.jpg?raw=true" id="campaign-icon"/></p>
      </header>
      <section>
